#historia {
    overflow: hidden;
    position: relative;
    background: var(--bg-green);
}

#historia a button {
    margin-top: 4rem;
}

#historia header p {
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1.7rem;
}

#historia header h2 {
    margin-bottom: 0;
}

#historia header p span {
    font-weight: 700;
}

#historia header p.obs {
    font-weight: 500;
    margin-bottom: 0;

    background: var(--gradient);
    color: #Fff;
    padding: .5rem;
    padding-block: 1.5rem;
    font-size: 1.3rem;
    width: 100%;
    border-radius: .5rem;
}

#historia header p.obs span {
    color: #fff;
    font-weight: 700;
}

#historia .image img {
    margin-bottom: 2rem;
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

@media (min-width: 1080px) {
    section#historia header {
        text-align: left;
        align-items: start;
        margin-bottom: 3rem;
        grid-area: b;
    }

     section#historia .image {
        height: 100%;
     }

    section#historia .image img {
        margin-bottom: 0;
        height: 100%;
        object-fit: cover;
    }

    section#historia .wrapper .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a b";
        align-items: center;
        gap: 7rem;
    }

    section#historia a button {
        margin-top: 3rem;
    }

    section#historia header p {
        font-size: 1.8rem;
        line-height: 1.6;
    }

    section#historia header p.obs {
        padding: 1rem;
        width: max-content;
    }
}